<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equinox Property Management - Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    
   <link rel="stylesheet" href="../static-resources/css/style.css">
</head>
<body>
    <header>
        <section id="branding-logo">
            <h1>Equinox Property Management</h1>
        </section>
        <section id="user-greeting">
            <h1>Hello, Guest</h1> 
            <h2>Sign In</h2>
        </section>
    </header>
    <nav>
        <ul class="nav-items">
            <li class="nav-item">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/tenant/list" class="nav-link">Tenant Registration</a>
            </li>
        </ul>
    </nav>
    <main>

        <form action="/product/new" method="post">
                <div class="form-control-row">
                    <div>
                        <label for="Appartmen Number">
                            Appartment Number:
                        </label>
                    </div>
                    <div>
                        
                        <input class="form-control" type="number" name="AppartmentNumber" id="AppartmentNumber" required autofocus maxlength="10">
                    </div>                    
                </div>
                <div class="form-control-row">
                    <div>
                        <label for="name">
                           Full Name:
                        </label>
                    </div>
                    <div>
                        <input class="form-control" type="text" name="fullName" id="fullName" required maxlength="45">
                    </div>
                </div>
                
                <div class="form-control-row">
                    <div>
                        <label for="phone Number">
                           Phone Number:
                        </label>
                    </div>
                    <div>
                        <input class="form-control" type="number" name="phoneNumber" id="phoneNumber" step="0.01" required width="300px">
                    </div>
                </div>
                <div class="form-control-row">
                        <div>
                            <label for="email">
                               Email:
                            </label>
                        </div>
                        <div>
                            <input class="form-control" type="number" name="phoneNumber" id="phoneNumber" step="0.01" required width="300px">
                        </div>
                    </div>
                <div>
                    <input type="submit" value="Save Product" style="padding: 1em;">
                </div>
            </form><br><br><br><br><br>
            <table id="tblAccounts">
                <caption>List of Customer Accounts</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Appartment Number</th>
                        <th scope="col">full Name</th>
                        <th scope="col">phone Number</th>
                        <th scope="col">email</th>
                        </tr>
                </thead>
                <tbody>
                - var i = 1;
                for student in tenants
                    tr
                        td= i
                        td= student.buildingName
                        td= student.primaryTenantFullNames
                        td= student.phoneNo
                        td= student.email
                        - i++
                        </tbody>
                        </table>




    </main>
    <footer>
        <div id="topFooter">
            <section>
                <!-- TODO: Department contact info -->
            </section>
            <section>
                <!-- TODO: Site map -->
            </section>
            <section>
                <!-- TODO: Locations/Addresses -->
            </section>
        </div>
        <div id="bottomFooter">
            <div id="bottomFooter-left">
                <span>[Put your name here] : : : CS472-WAP</span>
            </div>
            <div id="bottomFooter-right">
                <span>Copyleft &copy; November 2022</span>
            </div>
        </div>
    </footer>
</body>
</html>